.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.navCountry {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
  font-size: 10px;
  color: #c4c4c4;
}

.navCountry h1 {
  color: #fff;
  font-size: 14px;
}

.navSearch {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: gray;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
}

.navSearchCategory {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 5px;
  background: #e5e5e5;
  border-radius: 4px 0 0 4px;
}

.navSearchInput {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}

.navSearchIcon {
  max-width: 41px;
  padding: 8px;
  background: #ffd64f;
  border-radius: 0 4px 4px 0;
}

.navLanguage {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin-left: 15px;
}

.navText {
  margin-left: 15px;
}

.navText p {
  font-size: 10px;
}

.navText h1 {
  font-size: 14px;
}

.navCart {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.navBottom {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 20px;
  background: #232f32;
  color: #fff;
  font-size: 15px;
}

.navBottom div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.navText p {
  font-size: 15px;
}

.header-slider ul {
  display: flex;
  overflow-y: hidden;
}

.header-img {
  max-width: 100%;
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider a {
  position: absolute;
  top: 20%;
  z-index: 1;
  padding: 5vh 1vw;
  background: #ffffff4f;
  color: #0000007b;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.control_next {
  right: 0;
}

.logout {
  cursor: pointer;
  background-color: #ffd64f;
  transition: background-color 0.3s, color 0.3s;
}

.logout:hover {
  background-color: #232f32 !important;
  color: #fff !important;
}

.dropdownContainer {
  position: absolute;
  right: 100px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdownContainer.open {
  display: block;
}

.dropdownContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownContainer li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdownContainer li:last-child {
  border-bottom: none;
}

.dropdownContainer li a {
  color: #333;
  text-decoration: none;
}

.dropdownContainer li:hover {
  background-color: #f5f5f5;
}
