/* ProductSlider.module.css */

.productSliderPrice {
  background: #fff;
  margin: 0 50px;
  padding: 20px;
  margin-bottom: 15px;
}

.productSliderPrice .products {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}

.productSliderPrice .products::-webkit-scrollbar {
  display: none;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Changed 'end' to 'flex-end' */
  min-width: 210px;
  background: #fbfbfb;
}

.productCard img {
  width: 110px;
  margin: 0 50px;
}

.productOffer p {
  background: #be0b3b;
  color: #fff;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 8px 0;
  font-size: 13px;
}

.productOffer span {
  color: #be0b3b;
  font-weight: 500;
  font-size: 12px;
}

.productPrice {
  color: gray;
  font-size: 13px;
}

.productCard h4 {
  color: #525252;
  font-size: 15px;
  font-weight: 400;
}
